{% extends 'music_site/base.html' %}

{% load static %}

{% block home %}
<br>
<br>
<div class="map">
  <div class="container">
      {{contact.location_link | safe}}
  </div>
</div>

<section class="contact spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="contact__address">
                  <div class="section-title">
                      <h2>Contact info</h2>
                  </div>
                  
                  <ul>
                      <li>
                          <i class="fa fa-map-marker"></i>
                          <h5>Address</h5>
                          <p>{{contact.address}}</p>
                      </li>
                      <li>
                          <i class="fa fa-phone"></i>
                          <h5>Hotline</h5>
                          <span>{{contact.phone}}</span>
                         
                      </li>
                      <li>
                          <i class="fa fa-envelope"></i>
                          <h5>Email</h5>
                          <p>{{contact.email}}</p>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="contact__form">
                  <div class="section-title">
                      <h2>Get in touch</h2>
                  </div>
                  
                  <form action="#">
                      <div class="input__list">
                          <input type="text" placeholder="Name">
                          <input type="text" placeholder="Email">
                          <input type="text" placeholder="Website">
                      </div>
                      <textarea placeholder="Comment"></textarea>
                      <button type="submit" class="site-btn">SEND MESSAGE</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock home %}

{% block footer %}

<footer class="footer footer--normal spad set-bg" data-setbg="{% static 'img/footer-bg.png' %}">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="footer__address">
                  <ul>
                      <li>
                          <i class="fa fa-phone"></i>
                          <p>Phone</p>
                          <h6>{{contact.phone}}</h6>
                      </li>
                      <li>
                          <i class="fa fa-envelope"></i>
                          <p>Email</p>
                          <h6>{{contact.email}}</h6>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 offset-lg-1 col-md-6">
              <div class="footer__social">
                  <h2></h2>
                  <div class="footer__social__links">
                      <a href="{{contact.facebook_link}}"><i class="fa fa-facebook"></i></a>
                      
                      <a href="{{contact.insta_link}}"><i class="fa fa-instagram"></i></a>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6">
              <div class="footer__newslatter">
                  <h4>Stay With me</h4>
                  <form action="#">
                      <input type="text" placeholder="Email">
                      <button type="submit"><i class="fa fa-send-o"></i></button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</footer>

{% endblock footer %}
