{% extends 'music_site/base.html' %}

{% load static %}

{% block home %}

<section class="hero spad set-bg" data-setbg="{{detail.image.url}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="hero__text">
					<span>Latest</span>
					<h6 style="font-family:Rockville Solid Regular; color:white">{{latest.title}}</h6>
					<p>{{latest.description}}</p>
					<a href="https://www.youtube.com/watch?v={{latest.videoId}}" class="play-btn video-popup"><i class="fa fa-play"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="linear__icon">
		<i class="fa fa-angle-double-down"></i>
	</div>
</section>
<!-- Hero Section End -->

<!-- Event Section Begin -->
<section class="event spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Upcoming Events</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="event__slider owl-carousel">

				{% for event in events %}
				
				<div class="col-lg-4">
					<div class="event__item">
						<div class="event__item__pic set-bg" data-setbg="{{event.image.url}}">
							<div class="tag-date">
								<span>{{event.dates}}</span>
							</div>
						</div>
						<div class="event__item__text">
							<h4>{{event.title}}</h4>
							<span>{{event.details}}</span>
							<p><i class="fa fa-map-marker"></i> {{event.location}}</p>
						</div>
					</div>
				</div>
				
				{% endfor %}
				
			</div>
		</div>
	</div>
</section>
<!-- Event Section End -->

<!-- About Section Begin -->

<!-- About Section End -->

<!-- Services Section Begin -->
<section class="services">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-0">
				<div class="services__left set-bg" data-setbg="{{latest.thumbnails}}">
					<a href="https://www.youtube.com/watch?v={{latest.videoId}}" class="play-btn video-popup"><i class="fa fa-play"></i></a>
				</div>
			</div>
			<div class="col-lg-6 p-0">
				<div class="row services__list">
					{% for ec in events_category %}
					<div class="col-lg-6 p-0 order-lg-1 col-md-6 order-md-1">
						<div class="service__item deep-bg">
							
							<h4>{{ec.name}}</h4>
							<p>{{ec.description}}</p>
						</div>
					</div>
					{% endfor %}
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Services Section End -->

<!-- Track Section Begin -->

<!-- Track Section End -->

<!-- Youtube Section Begin -->

<!-- Youtube Section End -->

<!-- Countdown Section Begin -->

<section class="countdown spad set-bg" data-setbg="{{concert.poster.url}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="countdown__text">
					<h1>{{concert.location}}</h1>
					<h4>{{concert.name}}</h4>
				</div>
				<div class="countdown__timer" id="countdown-time">
					<div class="countdown__item">
						<span>20</span>
						<p>days</p>
					</div>
					<div class="countdown__item">
						<span>45</span>
						<p>hours</p>
					</div>
					<div class="countdown__item">
						<span>18</span>
						<p>minutes</p>
					</div>
					<div class="countdown__item">
						<span>09</span>
						<p>seconds</p>
					</div>
				</div>
				<div class="buy__tickets">
					<a href="{{concert.tickets_link}}" class="primary-btn">Buy tickets</a>
				</div>
			</div>
		</div>
	</div>
</section>
<script>

	fetch('{% url "site-get-contacts" %}')
  .then(response => {
	if (!response.ok) {
	  throw new Error('Network response was not ok');
	}
	return response.json();
  })
  .then(data => {
	console.log('Data received:', data);

	document.getElementById('name').innerHtml = data.name;
	document.getElementById('phone').textContent = data.phone;
	document.getElementById('email').textContent = data.email;
	document.getElementById('copy').textContent = data.name;
	document.getElementById('facebook').textContent = data.name;
	document.getElementById('insta').textContent = data.name;


  })
  .catch(error => {
	console.error('There was a problem with the fetch operation:', error);
  });



</script>

{% endblock home %}

{% block footer %}

<footer class="footer footer--normal spad set-bg" data-setbg="{% static 'img/footer-bg.png' %}">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer__address">
					<ul>
						<li>
							<i class="fa fa-phone"></i>
							<p>Phone</p>
							<h6>{{contact.phone}}</h6>
						</li>
						<li>
							<i class="fa fa-envelope"></i>
							<p>Email</p>
							<h6>{{contact.email}}</h6>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 offset-lg-1 col-md-6">
				<div class="footer__social">
					<h2></h2>
					<div class="footer__social__links">
						<a href="{{contact.facebook_link}}"><i class="fa fa-facebook"></i></a>
						
						<a href="{{contact.insta_link}}"><i class="fa fa-instagram"></i></a>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 offset-lg-1 col-md-6">
				<div class="footer__newslatter">
					<h4>Stay With me</h4>
					<form action="#">
						<input type="text" placeholder="Email">
						<button type="submit"><i class="fa fa-send-o"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
  </footer>

{% endblock footer %}


