{% extends 'music_site/base.html' %}

{% block home %}

<section class="discography spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <h2>Merchandise & Tickets</h2>
                   
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in items %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="discography__item">
                    <div class="discography__item__pic">
                        <img src="{{item.image.url}}" alt="">
                    </div>
                    <div class="discography__item__text">
                        <span>Ksh {{item.attributes.price}}</span>
                        <h4>{{item.item_name}}</h4>
                        <button class="btn btn-success">Order Here</button>
                    </div>
                </div>
            </div>
           {% endfor %}
            <div class="col-lg-12">

              
                <div class="pagination__links">
                    {% if items.has_other_pages %}
                    <a href="?page={{items.previous_page_number}}">&laquo;</a>

                    {% else %}
                    <a></a>

                    {% endif %}

                    {% for i in items.paginator.page_range %}
                       {% if items.number == i %}
                        <a class="active" href="?page={{ i }}">{{ i }}</a>
                       {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                       {% endif %}
                    {% endfor %}

                    {% if items.has_next %}
                    <a href="?page={{items.next_page_number}}">&raquo;</a>
                    {% else %}
                    <a></>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock home %}

{% block footer %}

{% endblock footer %}

